@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ---- google font ----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none !important;
    list-style: none !important;
}
body{
    background-color: #f9fdff !important;
}
a{
    transition: 0.5s ease;
}
.p_color{
    color: #0095de;
}
.btn-gradient{
    background-image: linear-gradient(
            90deg,
            hsl(200deg 100% 83%) 0%,
            hsl(200deg 80% 78%) 11%,
            hsl(201deg 68% 72%) 23%,
            hsl(201deg 60% 67%) 34%,
            hsl(202deg 54% 62%) 45%,
            hsl(202deg 50% 57%) 56%,
            hsl(202deg 46% 52%) 67%,
            hsl(202deg 51% 46%) 78%,
            hsl(202deg 62% 40%) 89%,
            hsl(200deg 88% 33%) 100%
    ) !important;
    border: none !important;
}
/* -----common css ---- */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999999;
}

.navbar-nav .nav-item .nav-link{
    color: #000 !important;
    font-size: 14px;
    transition: 0.5s;
}
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .active{
    color: #6dd5fa !important;
}

/* ----hero section ---- */
.hero_section {
    position: relative;
    top: 50px;
}
.hero_section .row{
    align-items: center;
}

.hero_section .hero_right{
    text-align: right;
    position: relative;
}
.hero_section .hero_right img{
    width: 400px;
}
.hero_section .hero_right .div_1{
    position: absolute;
    left: 5%;
    bottom: 25%;
}
.hero_section .hero_right .div_1 p{
    color: #0095de;
    background-color: #fff;
    padding: 5px 10px;
    left: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px #000;
}
.hero_section .hero_right .div_2{
    width: 250px;
    padding: 10px;
    position: absolute;
    left: 67%;
    bottom: 37%;
    text-align: left;
    border-radius: 5px;
    border: 2px solid #6dd5fa;
    background-color: #fff;
}
.hero_section .hero_right .div_2 img{
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    left: 0;
    margin-right: -15px;
}
.hero_section .hero_right .div_2 p{
    font-size: 24px;
    margin-left: 30px;
}
.hero_section .hero_right .div_2 p span{
    color: #0095de;
}
.hero_section .hero_right .div_3{
    position: absolute;
    right: 0;
    bottom: -10%;
    width: 300px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #6dd5fa;
}
.hero_section .hero_right .div_3 p{
    font-size: 12px;
    text-align: left;
}
/* hero overlay */
.hero_section .hero_overlay img{
    position: absolute;
    width: 100%;
    top: 30%;
    left: 0;
    z-index: -1;
}

/* ----- easy_book section ------ */
.easy_book{
    width: 100%;
    margin-top: 50px !important;
}
.easy_book .card{
    border: 1px solid #6dd5fa !important;
    border-radius: 20px;
    box-shadow: 0 0 5px #6dd5fa;
}

/* ---- easy book section ---- */
.services{
    width: 100%;
}

.services .card{
    height: 220px;
    border: 1px solid #6dd5fa !important;
    border-radius: 21px;
}
.services .card p{
    font-size: 14px;
}
/* ----about section ---- */
.about .card{
    /* border: 1px solid #6dd5fa; */
    border-radius: 20px;
    box-shadow: 0 0 5px #6dd5fa;
}
.about .card .card-img img{
    width: 100%;
}
.about .card p{
    font-size: 16px;
}
.about .card .about_btn{
    background-color: #0095de;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
}
/* ---- about section---- */
.platform .text_p{
    width: 75%;
    margin: auto;
}
.platform .timeline_bar{
    position: relative;

}
.platform .timeline_bar .timeline_dots{
    position: relative;
}
.platform .timeline_bar .timeline_dots::after{
    position: absolute;
    content: '';
    width: 3px;
    height: 120px;
    border-left: 2px dashed #6dd5fa;
    left: -35px;
    top: 0;
    z-index: -1;
}
.platform .timeline_bar .timeline_dots:nth-child(3)::after{
    border-left: none;
}
.platform .timeline_bar .timeline_dots .num{
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color: #6dd5fa;
    top: 0;
    left:-55px;
}
.platform .timeline_bar .timeline_dots p{
    font-size: 14px;
}

.platform .timeline_img{
    text-align: center;
    position: relative;
}
.platform .timeline_img img{
    width: 300px;
    height: 320px;
}
.platform .timeline_img p{
    position: absolute;
    right: 10%;
    bottom: 10%;
    color: #0095de;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #000;
}
/* ---- platform section ---- */
.testimonials{
    width: 100%;
}
.testimonials .card{
    position: relative;
    border-radius: 10px;
    border: 1px solid #6dd5fa;
    box-shadow: 0 0 5px #6dd5fa;
}
.testimonials .overlay{
    /* position: relative; */
}
.testimonials .overlay1 img{
    position: absolute;
    top: -30px;
    left: -40px;
    z-index: -1;
}
.testimonials .overlay2 img{
    position: absolute;
    bottom: -30px;
    right: -40px;
    z-index: -1;
}
/* ----testimonial section---- */
.our_team{
    width: 100%;
}
.our_team .text_width{
    width: 80%;
    margin: auto;
}
.our_team .card{
    position: relative;
    width: 80%;
    height: 300px;
    margin: 50px auto;
    border-radius: 20px !important;
    background-color: #6dd5fa !important;
}

.our_team .card .overlay1 img,
.our_team .card .overlay2 img{
    position: absolute;
    width: 100px;
    z-index: -1;
}
.our_team .card .overlay1 img{
    left: -40px;
    top: -20px;
}
.our_team .card .overlay2 img{
    right: -40px;
    bottom: -20px;
}
.our_team .card .card_img img{
    position: relative;
    height: 350px;
    top: -50px;
    left: -7px;
}
.our_team .card #card_img{
    left: -2px;
}
.our_team .card .card_content a:hover{
    color: #6dd5fa;
}

/* ---- our team section ---- */
.contact{
    width: 100%;
}

.contact .input{
    display: flex;
    width: 100%;
    height: 40px;
    border: 2px solid #0095de;
    border-radius: 5px;
}
.contact form{
    width: 70% !important;
    margin: auto;
}
.contact .input span{
    width: 10%;
    text-align: center;
    line-height: 40px;
}
.contact .input input{
    width: 90%;
    border: none;
    outline: none;
}
.contact button{
    outline: none !important;
    border: none !important;
    background-color: #0095de;
    color: #fff;
}
.contact button:hover{
    color: #fff !important;
}
/* -------contact section ------ */
.footer{
    width: 100%;
    background-color: #F2FAFF;
}
.footer .hr_color{
    color: #0095de;
}
.footer ul li h5{
    color: #0095de !important;
}
.footer ul li a{
    display: inline-block;
    margin-top: 10px;
}
.footer .icon_wapper{
    margin: 0;
    padding: 0;
}
.footer .icon_wapper li{
    display: inline-block;
}
.footer .icon_wapper li a{
    margin-right: 20px;
    color: #0095de;
}
.footer .socail_wapper .socail_text{
    text-align: right;
}




/* -------- large devices ------- */
@media (max-width: 992px) {
    .hero_section .hero_right{
        text-align: center;
        margin-top: 40px;
    }
    .hero_section .hero_right{
        display: block;
    }
    .hero_section .hero_right img{
        margin-bottom: 20px;
    }
    .hero_section .hero_right .div_1,
    .hero_section .hero_right .div_2,
    .hero_section .hero_right .div_3{
        position: relative;
        left: 0;
        right: 0;
        text-align: center;
    }
    .hero_section .hero_right .div_2{
        width: 100%;
        margin: 20px auto;
        text-align: center !important;
    }
    .hero_section .hero_right .div_2 .d-flex{
        justify-content: center;
    }
    .hero_section .hero_right .div_2 .div2_text{
        text-align: center;
    }
    .hero_section .hero_right .div_3{
        width: 100%;
        text-align: center;
    }
    .hero_section .hero_right .div_3 p{
        text-align: center;
    }

    /* ----hero section ---- */
    .easy_book{
        width: 100%;
    }
    .easy_book form label {
        margin-top: 10px;
    }
    /* ----easy_book section---- */
    .services {
        width: 100%;
        padding: 0 !important;
    }
    .services .card{
        height: 270px;
    }
    /* ----services section ---- */
    .about{
        width: 100%;
    }
    .about .card .card-img{
        text-align: center;
    }
    .about .card .card-img img{
        width: auto !important;
        height: 200px;
    }

    /* ----about section ---- */
    .platform{
        width: 100%;
        padding: 0 !important;
    }
    .platform .text_p{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .platform .timeline_section .row{
        margin: 0 !important;
    }
    .platform .timeline_img p{
        position: relative;
        width: 300px;
        left: 0;
        margin: auto;
    }
    /* ----platform section ---- */
    .testimonials{
        width: 100%;
        padding-top: 0 !important;
    }

    /* ----testimonials section ---- */
    .our_team{
        width: 100%;
        padding: 0 !important;
    }
    .our_team .card{
        height: auto;
    }
    .our_team .card .card_content{
        padding: 0 ;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .our_team .card .card_content p,
    .our_team .card .card_content h3{
        text-align: left;
    }
    .our_team .card .card_img{
        position: relative;
        top: 40px;
    }
    /* ----our team section ---- */
    .contact{
        width: 100%;
        padding: 0 !important;
    }
    /* ----contact section ---- */
    .footer{
        width: 100%;
    }
    .footer .icon_wapper{
        text-align: center;
    }
    .footer .socail_text{
        text-align: center !important;
    }
    /* ----footer section ---- */
}



/* -------- Medium devices -------- */
@media (max-width: 768px) {
    .hero_section{
        width: 100%;
    }
    .hero_section .hero_left{
        text-align: center;
    }
    .hero_section .hero_left p,
    .hero_section .hero_left h1{
        text-align: left;
    }
    /* ----hero section---- */
    .easy_book{
        width: 100%;
    }
    /* ----easy book section ---- */
    .services{
        width: 100%;
        display: none;
    }
    .services .card{
        height: auto;
    }
    /* ----services section---- */
    .about{
        width: 100%;
    }
    .about .card {
        text-align: center;
    }
    .about .card p{
        text-align: left;
    }
    /* ---- about section---- */
    .platform{
        width: 100%;
    }
    /* ---- platform section ---- */
    .testimonials{
        width: 100%;
    }
    .testimonials .card .overlay1 img{
        left: -20px;
        top: -20px;
    }
    .testimonials .card .overlay2 img{
        right: -20px;
        bottom: -20px;
    }
    /* ----testimonial section ---- */
    .our_team{
        width: 100%;
    }
    .our_team .card{
        width: 100%;
    }
    .our_team .text_width{
        width: 90%;
        margin: auto;
    }
    .our_team .card .card_img{
        position: relative;
        top: 40px;
    }
    .our_team .card .overlay1 img
    {
        left: -10px;
    }.our_team .card .overlay2 img
     {
         right: -10px;
     }
    /* ----our team section ---- */
    .contact{
        width: 100%;
    }
    /* ----contact section ---- */
    .footer{
        width: 100%;
    }
    /* ----footer section ---- */

}


/* -------- small devices --------- */
@media (max-width: 576px) {
    .hero_section{
        width: 100%;
    }
    /* ----hero section---- */
    .easy_book{
        width: 100%;
    }
    /* ----easy book section ---- */
    .services{
        width: 100%;
    }
    .services .card{
        height: auto;
    }
    /* ----services section---- */
    .about{
        width: 100%;
    }
    /* ---- about section---- */
    .platform{
        width: 100%;
    }
    .platform .timeline_bar .timeline_dots::after {
        height: 150px;
        overflow: hidden;
    }
    /* ---- platform section ---- */
    .testimonials{
        width: 100%;
    }
    .testimonials .testimonial_counter p,
    .testimonials .testimonial_counter h1{
        text-align: center;
    }
    /* ----testimonial section ---- */
    .our_team{
        width: 100%;
    }
    .our_team .text_width{
        width: 100%;
        margin: auto;
    }
    .our_team .card .card_img{
        position: relative;
        top: 40px;
    }
    .our_team .card .card_img img{
        height: 200px;
        bottom: 0;
    }
    /* ----our team section ---- */
    .contact{
        width: 100%;
    }
    /* ----contact section ---- */
    .footer{
        width: 100%;
    }
    /* ----footer section ---- */

}